{% load static %}
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    <title>Student Registration- RKMGEC</title>
  </head>
  <body class="bg-secondary">
    <form id="regForm" action="" class="bg-dark text-white container-fluid">

      <h1 class="text-center">Student Registration</h1>
      
      <!-- One "tab" for each step in the form: -->
      <div class="form-group">
      <div class="tab">

        <label for="exampleInputEmail1">Name</label>
        <input class="form-control my-1" placeholder="Name..." oninput="this.className = ''">
        <label for="exampleInputEmail1" class="my-1">Father's Name</label>
        <input class="form-control my-1" placeholder="Father's Name..." oninput="this.className = ''">
        <label for="exampleInputEmail1" class="my-1">Mother's Name</label>
        <input class="form-control my-1" placeholder="Mother's Name..." oninput="this.className = ''">
        <label for="exampleInputEmail1" class="my-1">Date of Birth</label>
        <input class="form-control my-1" type="date" placeholder="Date of birth" oninput="this.className = ''">
        <label for="exampleInputEmail1" class="my-1">Alloted Category</label>
        <select class="custom-select form-control my-1" id="inputGroupSelect01">
          <option selected disabled>Choose...</option>
          <option value="GEN" oninput="this.className = ''">GEN</option>
          <option value="SC" oninput="this.className = ''">SC</option>
          <option value="ST" oninput="this.className = ''">ST</option>
          <option value="OBC" oninput="this.className = ''">OBC</option>
        </select>
        <label for="exampleInputEmail1" class="my-1">Original Category</label>
        <select class="custom-select form-control my-1" id="inputGroupSelect01">
          <option selected disabled>Choose...</option>
          <option value="GEN" oninput="this.className = ''">GEN</option>
          <option value="SC" oninput="this.className = ''">SC</option>
          <option value="ST" oninput="this.className = ''">ST</option>
          <option value="OBC" oninput="this.className = ''">OBC</option>
        </select>
       
      </div>

      <div class="tab">
        <label for="exampleInputEmail1" class="my-1">Alloted Rank</label>
        <input class="form-control my-1" type="number" placeholder="Alloted Rank" oninput="this.className = ''">
        <label for="exampleInputEmail1" class="my-1">General Merit Rank</label>
        <input class="form-control my-1" type="number" placeholder="General Merit Rank" oninput="this.className = ''">
        <label for="exampleInputEmail1" class="my-1">Date of Birth</label>
        <input class="form-control my-1" type="date" placeholder="Date of birth" oninput="this.className = ''">
      </div>
      
      <div class="tab">
        <label for="exampleInputEmail1" class="my-2">Contact Info:</label>
        <input class="form-control my-3" type="email" placeholder="E-mail..." oninput="this.className = ''">
        <input class="form-control my-3" placeholder="Phone..." oninput="this.className = ''">
        <input class="form-control my-3" placeholder="Guardian Phone..." oninput="this.className = ''">
        <input class="form-control my-3" placeholder="Address..." oninput="this.className = ''">
        <input class="form-control my-3" placeholder="Aadhar..." oninput="this.className = ''">
      </div>
      

      
      <div class="tab">
        <label for="exampleInputEmail1" class="my-2">Admission Fees:</label>
        <input class="form-control my-3" type="number" placeholder="SBI" oninput="this.className = ''">
        <input class="form-control my-3" type="number" placeholder="CBI" oninput="this.className = ''">
        <label for="exampleInputEmail1" class="my-2">Semester Fees:</label>
        <input class="form-control my-3" type="number" placeholder="1st sem" oninput="this.className = ''">
        <input class="form-control my-3" type="number" placeholder="2nd sem" oninput="this.className = ''">
        <input class="form-control my-3" type="number" placeholder="3rd sem" oninput="this.className = ''">
        <input class="form-control my-3" type="number" placeholder="4th sem" oninput="this.className = ''">
        <input class="form-control my-3" type="number" placeholder="5th sem" oninput="this.className = ''">
      </div>
      <div class="tab">
        <input class="form-control my-3" type="number" placeholder="6th sem" oninput="this.className = ''">
        <input class="form-control my-3" type="number" placeholder="7th sem" oninput="this.className = ''">
        <input class="form-control my-3" type="number" placeholder="8th sem" oninput="this.className = ''">
      </div>
      <div style="overflow:auto;">
        <div style="float:right;">
          <button type="button" id="prevBtn" onclick="nextPrev(-1)" class="btn btn-primary mt-2 mr-2 px-3">Previous</button>
          <button type="button" id="nextBtn" onclick="nextPrev(1)" class="btn btn-primary mt-2 px-3">Next</button>
        </div>
      </div>
      
      <!-- Circles which indicates the steps of the form: -->
      <div style="text-align:center;margin-top:40px;">
        <span class="step"></span>
        <span class="step"></span>
        <span class="step"></span>
        <span class="step"></span>
      </div>
      
      </form>
    </div>

    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: jQuery and Bootstrap Bundle (includes Popper) -->
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous"></script>
    <script src="{% static 'js/script.js' %}"></script>
  </body>
</html>
    
        
